<h1>Mechanic: <%= @mechanic.name %></h1><br>
<p>Years of Experience: <%= @mechanic.years_of_experience %></p>
<p>Current rides they're working on:</p>
<% @mechanic.rides.each do |ride| %>
  <%= ride.name %><br>
<% end %>
